/* MARIANNE */
@font-face {
    font-family: 'MarianneBoldItalic';
    src: url('fonts/marianne/Marianne-Bold_Italic.otf') format('woff2'),
         url('fonts/marianne/Marianne-Bold_Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarianneBold';
    src: url('fonts/marianne/Marianne-Bold.otf') format('woff2'),
         url('fonts/marianne/Marianne-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarianneExtraBoldItalic';
    src: url('fonts/marianne/Marianne-ExtraBold_Italic.otf') format('woff2'),
         url('fonts/marianne/Marianne-ExtraBold_Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarianneExtraBold';
    src: url('fonts/marianne/Marianne-ExtraBold.otf') format('woff2'),
         url('fonts/marianne/Marianne-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarianneLightItalic';
    src: url('fonts/marianne/Marianne-Light_Italic.otf') format('woff2'),
         url('fonts/marianne/Marianne-Light_Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarianneLight';
    src: url('fonts/marianne/Marianne-Light.otf') format('woff2'),
         url('fonts/marianne/Marianne-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarianneMediumItalic';
    src: url('fonts/marianne/Marianne-Medium_Italic.otf') format('woff2'),
         url('fonts/marianne/Marianne-Medium_Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarianneMedium';
    src: url('fonts/marianne/Marianne-Medium.otf') format('woff2'),
         url('fonts/marianne/Marianne-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MarianneRegularItalic';
    src: url('fonts/marianne/Marianne-Regular_Italic.otf') format('woff2'),
         url('fonts/marianne/Marianne-Regular_Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarianneRegular';
    src: url('fonts/marianne/Marianne-Regular.otf') format('woff2'),
         url('fonts/marianne/Marianne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarianneThinItalic';
    src: url('fonts/marianne/Marianne-Thin_Italic.otf') format('woff2'),
         url('fonts/marianne/Marianne-Thin_Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarianneThin';
    src: url('fonts/marianne/Marianne-Thin.otf') format('woff2'),
         url('fonts/marianne/Marianne-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* SPECTRAL */
@font-face {
    font-family: 'SpectralBold';
    src: url('fonts/spectral/Spectral-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralBoldItalic';
    src: url('fonts/spectral/Spectral-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralExtraBold';
    src: url('fonts/spectral/Spectral-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralExtraBoldItalic';
    src: url('fonts/spectral/Spectral-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralExtraLight';
    src: url('fonts/spectral/Spectral-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralExtraLightItalic';
    src: url('fonts/spectral/Spectral-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralItalic';
    src: url('fonts/spectral/Spectral-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralLight';
    src: url('fonts/spectral/Spectral-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralLightItalic';
    src: url('fonts/spectral/Spectral-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralMedium';
    src: url('fonts/spectral/Spectral-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralMediumItalic';
    src: url('fonts/spectral/Spectral-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralRegular';
    src: url('fonts/spectral/Spectral-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralSemiBold';
    src: url('fonts/spectral/Spectral-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpectralSemiBoldItalic';
    src: url('fonts/spectral/Spectral-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}