footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #FFFFFF;
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
    p {
        padding: 1rem;
        color: #FFFFFF;
        font-family: 'MarianneThin';
        font-size: 12px;
    }
}